<!Doctype html>
<html lang="en">
    <head>
        <title> Create </title>
    </head>
<body>
   <main>
    <div>
        <form method="post">
            {% csrf_token %}
            <h1>Create a new list</h1>
            <label>Name:</label>
            <input type="text" name="name">
            <button type="submit">Create</button>
          </form>
    </div>

    </main>
    </body>


</htMl>
