<html lang="en">
    <head>
        <title> Delete </title>
    </head>
<body>
   <main>
    <div>
        <form method="post">
            {% csrf_token %}
            <h1>Are you sure?</h1>
            <button type="submit">Delete</button>
          </form>
    </div>

    </main>
    </body>


</htMl>
