<!Doctype html>

<html lang="en">
    <head>
        <title> {{ to_do_list.name }} </title>
    </head>
<body>
    <main>
        <div>
        <h1>{{ to_do_list.name }}</h1>
            <p>
                <a href="{% url 'todos_edit' id=to_do_list.id%}"> Edit </a>
                <a href="{% url 'todos_delete' id=to_do_list.id%}"> Delete </a>
            </p>
        <h2>Tasks</h2>
        <table>
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Due date</th>
                </tr>
            </thead>
            <tbody>
                {% for task in to_do_list.items.all %}
                <tr>
                    <td>{{ task.task }}</td>
                    <td>{{ task.due_date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
     </main>
    </body>


</htMl>
