<!Doctype html>
<html lang="en">
    <head>
        <title> Edit </title>
    </head>
<body>
   <main>
    <div>
        <form method="post">
            {% csrf_token %}
            <h1>edit an existing list</h1>
            <label>Name:</label>
            <input type="text" name="name">
            <button type="submit">Update</button>
          </form>
    </div>

    </main>
    </body>


</htMl>
