<!Doctype html>
<html lang="en">
    <head>
        <title> todos </title>
    </head>
<body>
    <main>
        <div>
        <h1> My List </h1>
        <p> <a href="{% url 'todos_create' %}">Create A New List </a></p>
        <table>
            <thead>
                <tr>
                    <th> Name</th>
                    <th> Number of Items </th>
                </tr>
            </thead>
        <tbody>
            {% for task in to_do_list %}
        <tr>
            <td><a href="{% url 'todos_list_detail' task.id %}">{{ task.name }}</a> </td>
            <td> {{ task.items.count }} </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
</main>
    </body>


</htMl>
